.navbar
{
    list-style-type: none;
    padding-left:250px ;
    /*margin-top:  20px;*/
    text-decoration: none;
    margin: 20px auto;
    padding-bottom:0;




}
.link
{
    text-decoration: none;
    color:  #FF0000;
}
.style-li
{
    display: inline-block;
    padding-left: 50px;
    padding-right: 100px;
    width: 100px;
    height: 27px;
    top: -6px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight:700 ;
    line-height: 18px;
    letter-spacing: 2px;
    margin: 0 auto;

}
.image
{
    width: 1280px;
    height: 789px;
    top: 78px;
    padding-left: 100px;

}
.main
{
    width: 1280px;
    height: 650px;
    top: 868px;
    background: #00000000;

}
.title
{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 3px;
    text-align: center;
    padding-left:  253px;
    color:  #373737;
    padding-top: 29px ;
;
}
.main-text
{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2px;
    text-align: center;
    color:#373737;
    padding-left:  253px;
    width: 1000px;
    padding-top: 15px;


}
.button
{
    width: 191px;
    height: 51px;
    top: 557px;
    left: 545px;
    border-radius: 4px;
    background: #FF0000;
    margin-top: 50px;
    margin-left: 650px;
}
.button-text
{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 2px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 20px;

}
.footer
{
    width: 1070px;
    height: 39px;
    top: 1558px;
    left: 105px;
    padding: 0 0 0 608px;
    margin-top: 0;


}
.footer-text
{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: center;
    color: black;
    padding-right: 300px;
    padding-top: 0;
    margin: 50px auto;



}
body{
    width: 1280px;
    height: 1626px;
    top: -814px;
    left: -641px;
}
